#wrapper {
    max-width: 1200px;
    background-color: #3293a8;
}

header {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 60%),
    url(banner.png) right top no-repeat
}